<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-for 实例</h1>
    <hr>
    <div id="app">
        <ul>
            <p>数组循环排序</p>
            <li v-for="item in sortArr">{{item}}</li>
        </ul>
        <ul>
            <p>对象循环排序</p>
            <li v-for="item in sortObj">{{item.name}} - {{item.age}}</li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el:"#app",
            data:{
                Arr:[22,33,5,62,85,13],
                student:[{name:"林俊杰",age:36},{name:"鹿晗",age:28},{name:"周杰伦",age:40},{name:"dss",age:25}]
            },
            computed:{
                sortArr:function(){
                    return this.Arr.sort(sortNum)
                },
                sortObj:function(){
                    return sortByKey(this.student,'age')
                }
            }
        })
        function sortNum(a,b){
            return a-b;
        };
        function sortByKey(arr,key){
            return arr.sort(function(a,b){
                var x = a[key];
                var y = b[key];
                return ((x < y) ? -1 : ((x > y) ? 1 : 0)); 
            })
        }
    </script>
</body>
</html>